doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet" href="/css/onlineStore/storepage.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    title Store Page
  body
    header
      img(src="images/logo.jpg", alt="Store Logo" style="height: 70px; width: 100px; float: left;")
      .user-func
        a(href="../user/login") Login
        a(href="../user/register") Signup
      .cart
        a(class="fa-solid fa-cart-shopping fa-2x", href="./user/login")
      .search-bar
        input(id="search", type="search", placeholder="Start typing to search...")

    main
      //- Banner List Section
      .banner-container
        .banner
          each banner in banners
            img(src=banner.bannerUrl, class="slide", alt="")

      .container
        h1 Welcome to Our Online Store
        .row
          each item in items
            .col-md-4
              .item-card
                img(src=item.image, alt=item.name)
                h3= item.name
                p $#{item.salePrice}
                p #{item.description}
                a(href=`/item/${item._id}`) View Details

    footer.footer
      .container
        .row
          .footer-col
            h4 Company
            ul
              li: a(href="#") About
              li: a(href="#") Our Services
              li: a(href="#") Privacy Policy
              li: a(href="#") Affiliate Program
          .footer-col
            h4 Get Help
            ul
              li: a(href="#") FAQ
              li: a(href="#") Shipping
              li: a(href="#") Returns
              li: a(href="#") Order Status
              li: a(href="#") Payment Options
          .footer-col
            h4 Online Shop
            ul
              li: a(href="#") Watch
              li: a(href="#") Bag
              li: a(href="#") Shoes
              li: a(href="#") Dress
          .footer-col
            h4 Follow Us
            .social-links
              a(href="#")
                i(class="fab fa-facebook-f")
              a(href="#")
                i(class="fab fa-twitter")
              a(href="#")
                i(class="fab fa-instagram")
              a(href="#")
                i(class="fab fa-linkedin-in")

    script.
      // Swiping banners
      document.addEventListener('DOMContentLoaded', function() {
        let currentIndex = 0;
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;

        function showSlide(index) {
          // Reset all slides to be hidden
          slides.forEach((slide, i) => {
            slide.style.display = 'none'; // Hide all slides
            slide.style.transform = `translateX(${(i - index) * 100}%)`; // Position slides correctly
          });

          // Display the current slide
          slides[index].style.display = 'block';
        }

        // Show the first slide initially
        showSlide(currentIndex);

        // Auto swipe every 3 seconds
        setInterval(() => {
          currentIndex = (currentIndex + 1) % totalSlides;
          showSlide(currentIndex);
        }, 3000);
      });
