doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Your Cart
    link(rel="stylesheet" href="/css/onlineStore/storepage.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="/css/onlineStore/cart.css")
  body
    header
      img(src="../../../images/logo.jpg", alt="Store Logo" style="height: 70px; width: 100px; float: left;")
      .user-func
        a(href="../login").logout Signout
        a(href="#") customer info
        a(href="#" style="color: red;")= "Hello, " + login_info.username
      .cart
        a(class="fa-solid fa-cart-shopping fa-2x", href=`${userId}/cart`)
      .search-bar
        input(id="search", type="search", placeholder="Start typing to search...")

    h1 Your Shopping Cart
    table.cart-table
        thead
          tr
            th Item
            th Quantity
            th Price
            th Total
        tbody
          each cartItem in cartItems
            tr
              td.cart-item
                img.cart-item-image(src=`../../../${cartItem.imageUrl}` alt=cartItem.item_name)
                span.cart-item-name #{cartItem.item_name}
              td.cart-quantity #{cartItem.number}
              td.cart-price $#{cartItem.price}
              td.cart-total $#{cartItem.price * cartItem.number}
    hr
    .cart-summary
        p Total Price: 
          span.cart-total-price $#{total}
        form(action="/checkout" method="post")
          button.checkout-button(type="submit") Proceed to Checkout

    footer.footer
      .container
        .row
          .footer-col
            h4 Company
            ul
              li: a(href="#") About
              li: a(href="#") Our Services
              li: a(href="#") Privacy Policy
              li: a(href="#") Affiliate Program
          .footer-col
            h4 Get Help
            ul
              li: a(href="#") FAQ
              li: a(href="#") Shipping
              li: a(href="#") Returns
              li: a(href="#") Order Status
              li: a(href="#") Payment Options
          .footer-col
            h4 Online Shop
            ul
              li: a(href="#") Watch
              li: a(href="#") Bag
              li: a(href="#") Shoes
              li: a(href="#") Dress
          .footer-col
            h4 Follow Us
            .social-links
              a(href="#")
                i(class="fab fa-facebook-f")
              a(href="#")
                i(class="fab fa-twitter")
              a(href="#")
                i(class="fab fa-instagram")
              a(href="#")
                i(class="fab fa-linkedin-in")

